@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
:root {
  --bg: #131927;
  --text: #e5e7eb;
  --accent: #22c55e;
  --danger: #ef4444;
  --bgBox: #141924;
  --moon: #03a9f4;
  --sun: #6e6e6e;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s linear;
}

body {
  position: relative;
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
  color: var(--text);
  background-color: var(--bg);
}
body.changeMode {
  --bg: #f9fafb;
  --text: #1f2937;
  --accent: #16a34a;
  --danger: #dc2626;
  --bgBox: #9e9e9eff;
  --moon: #6e6e6e;
  --sun: #ffd700;
}

/* strat header */
.header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgBox);
  border: 1px solid #ffffff0f;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  padding: 6px 12px;
  z-index:20;
}
.header .logo {
  flex: 60%;
  font-size: 26px;
  font-weight: bold;
  color: var(--text);
  user-select: none;
}
.header .logo span {
  color: var(--danger);
}

.header .head-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.header .head-icons .mode {
  position: relative;
  border-radius: 50px;
  border: 1px solid #6e6e6e;
  width: 60px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.header .head-icons .mode .sun {
  color: var(--sun);
}
.header .head-icons .mode .moon {
  color: var(--moon);
}
.header .head-icons > i {
  margin: 0 2px;
  cursor: pointer;
  line-height: 50px;
  color: var(--text);
  font-size: 22px;
}
.header .head-icons > i.hidee {
  margin: 0 2px;
  cursor: pointer;
  line-height: 50px;
  color: var(--text);
  font-size: 22px;
}
/* end header */

/* start notifications */
.notifications1,
.notifications2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 20%;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(255, 35, 35);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  opacity: 0;
}
/* end notifications */

/* start screen */
.startScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #ff6a00 0%, #000000 80%);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 22;
}
.startScreen img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* end screen */

/* start main */
main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: var(--text);
  background-color: var(--bg);
  padding: 120px 10px 50px;
  overflow: hidden;
}
/* end main */

/* start players */
.players,
.imposter,
.categories {
  position: relative;
  width: 95%;
  background: var(--bgBox);
  border: 1px solid #ffffff0f;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  padding: 10px;
}
.players {
  min-height: 100px;
  margin: 0 auto 20px;
  border-radius: 12px 0 12px 12px;
}
.players h3 {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 20px;
  font-weight: bold;
}
.players h3 i {
  font-size: 18px;
  color: var(--accent);
  margin-right: 6px;
}
.players h4 {
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 40px;
  background-color: #123;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent);
  cursor: pointer;
}
.players h4 > i {
  color: var(--accent);
  margin-left: 6px;
}
.players h4:hover {
  background-color: #111;
}
.players .playersList {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.players .playersList li {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  background-color: #111;
  color: #fff;
  height: 30px;
  padding: 4px;
  border-radius: 6px;
}
.players .playersList li > i {
  color: #dd0000;
  font-weight: bold;
  cursor: pointer;
}
/* end players */

/* start categories */
.categories {
  position: relative;
  width: 95%;
  background: var(--bgBox);
  border: 1px solid #ffffff0f;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  padding: 15px;
  min-height: 100px;
  margin: 100px auto 20px;
  border-radius: 12px 0 12px 12px;
}

.categories h3 {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 22px;
  font-weight: bold;
  color: #ffd700;
}

.categories h3 i {
  font-size: 22px;
  margin-right: 6px;
}

.categories .types {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 10px;
  padding: 0;
  margin: 0;
}

.categories .types li {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  background: linear-gradient(135deg, #222, #111);
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-align: right;
  cursor: pointer;
}

.types .hidden {
  display: none;
}

#toggleBtn {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background: #ffd700;
  color: #111;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.types li i {
  margin-left: 6px;
  color: #ffd700;
  font-size: 18px;
}
.types li.active {
  background: #ffd700;
  color: #111;
  transform: scale(1.02);
}
.types li.active i {
  color: #111;
}
/* end categories */

/* start imposter */
.imposter {
  position: relative;
  height: 50px;
  margin: 60px auto 40px;
  border-radius: 12px 0 12px 12px;
}
.imposter h3 {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 20px;
  font-weight: bold;
}
.imposter > h3 i {
  font-size: 20px;
  color: var(--danger);
}

.imposter .count-imposter {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.imposter .count-imposter label {
  margin: 0 5px;
}
.imposter .count-imposter label input[type="radio"] {
  transform: scale(1.4);
  margin-left: 4px;
  cursor: pointer;
  accent-color: var(--danger);
}
.imposter .start,
.imposter .hint {
  position: absolute;
  bottom: -55px;
  left: 90%;
  transform: translateX(-90%);
  width: 40%;
  height: 40px;
  background-color: #123;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--moon);
  cursor: pointer;
}
.imposter .start > i {
  color: var(--moon);
  margin-left: 6px;
}
.imposter .start:hover {
  background-color: #111;
}
.imposter .hint {
  left: 10%;
  transform: translateX(-10%);
  border: 2px solid var(--accent);
}
.imposter .hint i {
  color: var(--accent);
  font-weight: bold;
}
.imposter .hint.check {
  border: 2px solid var(--danger);
}
.imposter .hint.check i {
  color: var(--danger);
}
/* end imposter */

/* start box */
.box {
  position: fixed;
  bottom: -1000px;
  left: 0;
  width: 100%;
  height: 55%;
  background-color: var(--text);
  border: 1px solid var(--bg);
  color: var(--bg);
  text-align: center;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
}
.box.hidee{
    bottom: 0;
    opacity: 1;
}

.box h3 {
  font-size: 24px;
}

.box p {
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 0;
  font-weight: bold;
  color: #999;
}

.box ul {
  list-style: none;
  width: 100%;
  background-color: #bbbbbb;
  padding: 20px;
  margin-bottom: 20px;
  height: 150px;
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}
* {
  -ms-overflow-style: none;
}

.box ul li {
  position: relative;
  background-color: #f1f1f1;
  border: 1px solid #999;
  width: 75%;
  height: 40px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.box ul li .player {
  background: transparent;
  color: #000;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  padding-right: 30px;
  outline: none;
}

.box ul li i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  cursor: pointer;
}
.box ul li i.del {
  color: red;
  left: 10px;
}
.box ul li i.edit {
  color: #555;
  right: 5px;
  font-size: 16px;
}
.dmg {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 15px auto;
}
.playerTXT {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: #c9c9c9;
  color: #111;
  border: 3px solid #ffd700;
  outline: none;
  border-radius: 16px;
}
.addButton,
.closed {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  padding-top: 1px;
  background-color: #ffd700;
  border: 1px solid #f1f1f1;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.closed {
  left: 10px;
  background-color: var(--danger);
  border: 1px solid #f1f1f1;
}
/* end box */

/* staet game starter box */
.game-starter-box,
.guessing-began,
.dataDisclosure {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -5;
}
.go {
  opacity: 1;
  z-index: 5;
}

.game-starter-box .flippedBox {
  position: relative;
  width: 250px;
  height: 350px;
  margin-bottom: 30px;
  border-radius: 12px;
  color: #000;
  overflow: hidden;
}
.flippedBox .back {
  transform: rotateY(180deg);
}
.flippedBox.flip .front {
  transform: rotateY(180deg);
}
.flippedBox.flip .back {
  transform: rotateY(360deg);
}
.flippedBox .face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  backface-visibility: hidden;
}
.flippedBox .front h1 {
  margin: auto 0;
  user-select: none;
}
.flippedBox .front .note i {
  color: #333;
}
.flippedBox .front .note p {
  color: #222;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
}
.flippedBox .back h2 {
  background-color: var(--bg);
  color: var(--text);
  padding: 4px;
  width: 100%;
  margin: auto;
  user-select: none;
}
.next {
  width: 50%;
  height: 40px;
  background-color: #123;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--moon);
  cursor: pointer;
}
.next > i {
  color: var(--moon);
  margin-left: 6px;
}
.next:hover {
  background-color: #111;
}
/* staet game starter box */

/* start guessing began */
.guessing-began {
  color: var(--text);
  padding: 12px;
  gap: 50px;
}
.guessing-began h2 {
  line-height: 1.5;
}
.guessing-began h3 {
  font-size: 18px;
}
.guessing-began h3 span {
  background-color: var(--accent);
  color: var(--bg);
  padding: 0 6px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 8px;
}
.guessing-began p {
  padding: 12px;
  border: 1px solid var(--accent);
  border-radius: 18px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
/* end guessing began */

/* start starting over */
.startingOver,
.startingOver2 {
  color: #4e4e4e;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--accent);
  outline: none;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #fff;
}
.startingOver2 {
  margin-top: 30px;
}
/* start starting over */

/* start data disclosure */
.dataDisclosure {
  color: var(--text);
  gap: 10px;
}

.dataDisclosure h2 {
  color: var(--text);
  font-size: 30px;
}
.dataDisclosure h1 {
  color: var(--text);
  font-weight: bold;
}

.dataDisclosure .line {
  background-color: #777;
  width: 80%;
  height: 2px;
  margin: 30px auto;
}
/* end data disclosure */

/* start notes */
.showNotes {
  position: fixed;
  bottom: -1000px;
  left: 0;
  width: 100%;
  height: 75%;
  background-color: var(--text);
  border: 1px solid var(--bg);
  color: var(--bg);
  text-align: right;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  opacity: 0;
}
.showNotes.hidee{
  bottom: 0;
  opacity: 1;
}
.showNotes .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showNotes .head i {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.showNotes .head i:hover {
  transform: rotate(90deg);
}
.noteText {
  margin-top: 10px;
  list-style: none;
}
.noteText li {
  font-weight: 700;
}
.showNotes .contactMe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 30px;
  gap: 20px;
}

.showNotes .contactMe li a {
  cursor: pointer;
  text-align: center;
  width: 38px;
  height: 38px;
  background-color: #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  text-decoration: none;
  border-radius: 8px;
}
.showNotes .contactMe li a:hover {
  background-color: var(--bgBox);
  transform: translateY(-10px);
}
.showNotes .contactMe li a i {
  font-size: 26px;
  font-weight: bold;
}

.showNotes p {
  margin-top: 15px;
  text-align: center;
  color: #999;
  user-select: none;
}
/* end notes */
