@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
:root {
  --bg: #123;
  --text: #e5e7eb;
  --accent: #22c55e;
  --danger: #ef4444;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s linear;
}

body {
  font-family: "Cairo", sans-serif;
  height: 100vh;
  color: var(--text);
  background-color: var(--bg);
}

.header {
  position: fixed;
  background-color: #111827d9;
  border: 1px solid #ffffff0f;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 120px;
  border-radius: 0 0 20px 20px;
  z-index: 1000;
}
.header .logo {
  font-size: 34px;
  font-weight: bold;
  color: var(--text);
  cursor: pointer;
}
.header .logo span {
  color: var(--danger);
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12px;
  color: var(--text);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.players,
.imposter {
  width: 90%;
  max-width: 400px;
  min-height: 100px;
  background: #111827d9;
  border: 1px solid #ffffff0f;
  border-radius: 20px;
  backdrop-filter: blur(6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin: 0 auto 30px;
  text-align: right;
  cursor: pointer;
}
.players:hover,
.imposter:hover {
  background: var(--bg);
}
.players > h4,
.imposter > h4 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}
.players > h4 i {
  font-size: 18px;
  color: var(--accent);
}
.imposter > h4 i {
  font-size: 20px;
  color: var(--danger);
}
.players .count-players {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
.players .count-players li {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  background-color: #010010;
  height: 30px;
  padding: 4px 8px;
  border-radius: 10px;
}
.players .count-players li > i {
  color: var(--danger);
}
.imposter .count-imposter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  gap: 10px;
}

.start {
  width: 90%;
  max-width: 400px;
  height: 50px;
  background: #111827d9;
  border: 1px solid #ffffff0f;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
}
.start span {
  color: var(--text);
  font-weight: 600;
  font-size: 25px;
}
.start:hover {
  background-color: var(--bg);
}

.box {
  position: fixed;
  bottom: -1000px;
  left: 0;
  width: 100%;
  min-height: 50%;
  background-color: #fff4f4;
  border: 1px solid var(--bg);
  color: #222;
  text-align: center;
  padding: 20px 0;
  border-radius: 30px 30px 0 0;
}
.box .closed {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 28px;
  color: var(--accent);
}
.box h3 {
  margin: 10px auto 0;
  font-size: 24px;
}

.box p {
  margin: 10px auto;
  font-size: 16px;
  margin-top: 0;
  font-weight: bold;
  color: #999;
}

.box ul {
  list-style: none;
  width: 100%;
  background-color: #bbbbbb;
  padding: 20px;
  margin-bottom: 20px;
  max-height: 200px;
  overflow-y: auto;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}
* {
  -ms-overflow-style: none;
}

.box ul li {
  position: relative;
  background-color: #f1f1f1;
  border: 1px solid #999;
  width: 75%;
  height: 40px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.box ul li .player {
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px 10px 10px;
  outline: none;
  color: #000;
}

.box ul li i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.box ul li i.del {
  color: red;
  left: 10px;
}
.box ul li i.edit {
  color: #555;
  right: 5px;
  font-size: 18px;
}
.playerTXT {
  position: relative;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  border: 2px solid var(--accent);
  border-radius: 16px;
  margin-bottom: 15px;
}
.addButton {
  width: 80%;
  padding: 10px;
  background-color: var(--bg);
  color: white;
  font-size: 20px;
  border: 2px solid #fcfcfc;
  border-radius: 16px;
  font-weight: 500;
  cursor: pointer;
}
.addButton:hover {
  background-color: #111;
}

.game-starter-box,
.guessing-began,
.dataDisclosure {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #123;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -5;
}
.go {
  opacity: 1;
  z-index: 5;
}

.game-starter-box .flippedBox {
  position: relative;
  width: 280px;
  height: 330px;
  margin-bottom: 30px;
  border-radius: 12px;
  color: #000;
  overflow: hidden;
}
.flippedBox .back {
  transform: rotateY(180deg);
}
.flippedBox.flip .front {
  transform: rotateY(180deg);
}
.flippedBox.flip .back {
  transform: rotateY(360deg);
}
.flippedBox .face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  backface-visibility: hidden;
}
.flippedBox .front h1 {
  margin: 60px 0;
  user-select: none;
}
.flippedBox .front .note i {
  color: #333;
}
.flippedBox .front .note p {
  color: #222;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
}
.flippedBox .back h2 {
  color: #000;
  user-select: none;
  font-weight: bold;
  border: 2px solid #111;
  padding: 4px;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}
.game-starter-box .next {
  min-width: 150px;
  height: 50px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: #fff 1px solid;
  cursor: pointer;
}

.guessing-began {
  color: #fff;
  padding: 12px;
}
.guessing-began h2 {
  line-height: 1.5;
  margin-bottom: 20px;
}
.guessing-began h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
.guessing-began h3 span {
  background-color: var(--accent);
  color: #111;
  padding: 0 6px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 8px;
}
.guessing-began p {
  padding: 12px;
  border: 1px solid var(--accent);
  border-radius: 18px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}
.startingOver,
.startingOver2 {
  color: #6d6d6d;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--accent);
  outline: none;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #fff;
}

.dataDisclosure {
  color: #fff;
}
.dataDisclosure .line {
  background-color: #777;
  width: 250px;
  height: 2px;
  margin-bottom: 20px;
}

.dataDisclosure h2 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 2.4;
}
.dataDisclosure h2 span {
  background-color: var(--accent);
  color: #111;
  font-size: 22px;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}
.dataDisclosure p {
  font-size: 20px;
  font-weight: bold;
}
.dataDisclosure h1 {
  margin-bottom: 20px;
}
