@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
:root {
  --bg: #123;
  --text: #e5e7eb;
  --accent: #22c55e;
  --danger: #ef4444;
  --bgBox: #141924;
  --moon: #03a9f4;
  --sun: #6e6e6e;
  --logo-gradient: linear-gradient(to right, #ffffff, #ff3333, red);
}

*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}
* {
  -ms-overflow-style: none;
}

* {
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  outline: none;
  list-style: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s linear;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

body.changeMode {
  --bg: #e6e6e6;
  --text: #1f2937;
  --accent: #16a34a;
  --danger: #dc2626;
  --bgBox: #9e9e9eff;
  --moon: #6e6e6e;
  --sun: #ffd700;
  --logo-gradient: linear-gradient(to right, #140000, #aa0000);
}

/* start container */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: calc(env(safe-area-inset-top) + 80px);
  color: var(--text);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* end container */

/* strat header */
.header {
  position: fixed;
  width: 100%;
  min-height: 60px;
  top: 0;
  left: 0;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgBox);
  border-bottom: 2px solid #c7c7c7;
  padding-top: calc(env(safe-area-inset-top) + 8px);
  z-index: 20;
}

.header h2.logo {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: -1px;
  flex: 50%;
  background: var(--logo-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.logo i {
  color: inherit;
  font-size: 0.9em;
}

.header .head-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.header .head-icons .mode {
  position: relative;
  border-radius: 50px;
  border: 1px solid #6e6e6e;
  width: 60px;
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.header .head-icons .mode .sun {
  color: var(--sun);
}
.header .head-icons .mode .moon {
  color: var(--moon);
}
.header .head-icons > i {
  margin: 0 4px;
  cursor: pointer;
  line-height: 50px;
  color: #d4d4d4c5;
  font-size: 22px;
}
.header .head-icons > i.hidee {
  margin: 0 2px;
  cursor: pointer;
  line-height: 50px;
  color: var(--text);
  font-size: 22px;
}
/* end header */

/* start players */
.playersBox,
.categoriesBox,
.imposterBox {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px auto;
}
.playersList {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  background: var(--bg);
  border: 1px solid #ffffff0f;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin: 3px auto;
  border-radius: 0 0 12px 12px;
}
.playersList li {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  background-color: var(--bgBox);
  color: var(--text);
  height: 30px;
  padding: 4px 6px;
  border-radius: 6px;
}
.playersList li i {
  color: red;
  font-weight: bold;
  font-size: 18px;
}
.playersBox h3,
.categoriesBox h3,
.imposterBox h3 {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  background: var(--bg);
  border: 1px solid #ffffff0f;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  border-radius: 12px 12px 0 0;
}
.playersBox h3 i {
  font-size: 18px;
  color: var(--accent);
}
.playersBox h4 {
  width: 50%;
  height: 40px;
  background-color: var(--accent);
  color: #111;
  font-size: 18px;
  border-radius: 0 0 12px 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #c7c7c7;
  margin: 0 auto 20px;
  cursor: pointer;
}
/* end players */

/* start categories */
.categoriesBox .types {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 10px;
  background: transparent;
  border: 1px solid #ffffff0f;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  margin: 3px auto ;
  padding: 15px;
  border-radius: 0 0 12px 12px;
}
.categoriesBox .types li {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  background: linear-gradient(135deg, var(--bg), var(--bgBox));
  color: var(--text);
  padding: 6px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-align: right;
  cursor: pointer;
}
.categoriesBox .types li i{
  margin-left: 8px;
}
.types .hidden {
  display: none;
}
.categoriesBox h3 i {
  font-size: 22px;
  margin-right: 4px;
  color: #ffd700;
}
#toggleBtn {
  width: 50%;
  height: 40px;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid  #c7c7c7;
  margin: 0 auto 20px;
  cursor: pointer;
  border-radius: 0 0 12px 12px;
  background: #ffd700;
  color: #111;
  transition: 0.3s;
}
.types li i {
  color: #ffd700;
  font-size: 18px;
}
.types li.active {
  background: #ffd700;
  color: #111;
  transform: scale(1.02);
}
.types li.active i {
  color: #111;
}

/* end categories */

/* start imposter */
.imposterBox h3 i {
  font-size: 24px;
  color: var(--danger);
}

.imposterBox .count-imposter {
  width: 100%;
  min-height: 50px;
  text-align: center;
  background: transparent;
  border: 1px solid #ffffff0f;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  margin: 5px auto 20px;
  padding: 15px;
  border-radius: 0 0 12px 12px;
}

.imposterBox .count-imposter label {
  font-size: 18px;
  font-weight: bold;
  margin: 0 5px;
}
.imposterBox .count-imposter label input[type="radio"] {
  transform: scale(1.4);
  margin-left: 4px;
  cursor: pointer;
  accent-color: var(--danger);
}
.imposterBox .imposterButtons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin: 0 auto 10px;
  background-color: var(--bgBox);
  padding: 20px;
  border-radius: 8px;
}
.imposterBox .imposterButtons .start,
.imposterBox .imposterButtons .hint,
.imposterBox .imposterButtons .delAll {
  flex: 40%;
  height: fit-content;
  background-color: #123;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}
.imposterButtons .start {
  border: 3px solid #03a9f4;
}
.imposterButtons .start i {
  color: #03a9f4;
  margin-right: 6px;
}

.imposterBox .hint {
  border: 3px solid var(--accent);
}
.imposterBox .hint i {
  color: var(--accent);
  font-weight: bold;
  margin-right: 4px;
}

.imposterBox .hint.check {
  border: 3px solid var(--danger);
}
.imposterBox .hint.check i {
  color: var(--danger);
}

.imposterButtons .delAll {
  flex: 90%;
  margin: 0 auto;
  border: 3px solid var(--danger);
}
.imposterBox .delAll i {
  color: var(--danger);
  font-weight: bold;
  margin-right: 8px;
}
.imposterBox .delAll:hover,
.imposterBox .start:hover,
.imposterBox .hint:hover {
  background-color: #111;
}
/* end imposter */

/* start box */
.box {
  position: fixed;
  left: 0;
  bottom: -100%;
  width: 100%;
  min-height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--text);
  border: 1px solid var(--bg);
  color: var(--bg);
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
}
.box.hidee {
  bottom: 0;
}

.box h3 {
  font-size: 24px;
}

.box p {
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 0;
  font-weight: bold;
  color: #777;
}

.box ul {
  list-style: none;
  width: 100%;
  height: 150px;
  background-color: #bbbbbb;
  padding: 10px;
  overflow-y: scroll;
}

.box ul li {
  position: relative;
  background-color: #f1f1f1;
  border: 1px solid #999;
  width: 90%;
  height: 40px;
  border-radius: 10px;
  margin: 10px auto;
  overflow: hidden;
}

.box ul li .player {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #111;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 36px 8px 8px;
}

.box ul li i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}
.box ul li i.del {
  color: red;
  left: 10px;
  font-size: 24px;
}
.box ul li i.edit {
  color: #006492;
  right: 5px;
}
.dmg {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 20px auto 10px;
}
.playerTXT {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: #c9c9c9;
  color: #111;
  border: 3px solid #ffd700;
  outline: none;
  border-radius: 16px;
}
.addButton,
.closed {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  padding-top: 1px;
  background-color: #ffd700;
  border: 1px solid #f1f1f1;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.closed {
  left: 10px;
  background-color: var(--danger);
  border: 1px solid #f1f1f1;
}
/* end box */

/* staet game starter box */
.game-starter-box,
.guessing-began,
.dataDisclosure {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: all 0.5s;
}
.game-starter-box,
.dataDisclosure {
  right: -100%;
  top: 0;
}
.go {
  right: 0;
}
.guessing-began {
  left: -100%;
  top: 0;
}
.goGuessing {
  left: 0;
}

.game-starter-box .flippedBox {
  position: relative;
  width: 250px;
  height: 350px;
  margin-bottom: 30px;
  border-radius: 12px;
  color: #000;
  overflow: hidden;
}
.flippedBox .back {
  transform: rotateY(180deg);
}
.flippedBox.flip .front {
  transform: rotateY(180deg);
}
.flippedBox.flip .back {
  transform: rotateY(360deg);
}
.flippedBox .face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  backface-visibility: hidden;
}
.flippedBox .front h1 {
  margin: auto 0;
  user-select: none;
}
.flippedBox .front .note i {
  color: #333;
}
.flippedBox .front .note p {
  color: #222;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
}
.flippedBox .back h2 {
  background-color: var(--bg);
  color: var(--text);
  padding: 4px;
  width: 100%;
  margin: auto;
  user-select: none;
}
.next {
  width: 50%;
  height: 40px;
  background-color: #123;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--moon);
  cursor: pointer;
}
.next > i {
  color: var(--moon);
  font-size: 22px;
  margin-left: 6px;
}
.next:hover {
  background-color: #111;
}
/* staet game starter box */

/* start guessing began */
.guessing-began {
  color: var(--text);
  padding: 12px;
  gap: 50px;
}
.guessing-began h2 {
  line-height: 1.5;
}
.guessing-began h3 {
  font-size: 18px;
}
.guessing-began h3 span {
  background-color: var(--accent);
  color: var(--bg);
  padding: 0 6px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 8px;
}
.guessing-began p {
  padding: 12px;
  border: 1px solid var(--accent);
  border-radius: 18px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
/* end guessing began */

/* start starting over */
.startingOver,
.startingOver2 {
  color: #4e4e4e;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--accent);
  outline: none;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #fff;
}
.startingOver2 {
  margin-top: 30px;
}
/* start starting over */

/* start data disclosure */
.dataDisclosure {
  color: var(--text);
  gap: 10px;
}

.dataDisclosure h2 {
  color: var(--text);
  font-size: 30px;
}
.dataDisclosure h1 {
  color: var(--text);
  font-weight: bold;
}

.dataDisclosure .line {
  background-color: #777;
  width: 80%;
  height: 2px;
  margin: 30px auto;
}
/* end data disclosure */

/* start notes */
.showNotes {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  min-height: 70%;
  background-color: var(--text);
  border: 1px solid var(--bg);
  color: var(--bg);
  text-align: right;
  padding: 15px;
  transition: all 0.5s ease;
  border-radius: 10px 10px 0 0;
}
.showNotes.hidee {
  bottom: 0;
}
.showNotes .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showNotes .head i {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.showNotes .head i:hover {
  transform: rotate(90deg);
}
.noteText {
  margin-top: 10px;
  list-style: none;
}
.noteText li {
  font-weight: 700;
}
.showNotes .contactMe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 30px;
  gap: 20px;
}

.showNotes .contactMe li a {
  cursor: pointer;
  text-align: center;
  width: 38px;
  height: 38px;
  background-color: #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  text-decoration: none;
  border-radius: 8px;
}
.showNotes .contactMe li a:hover {
  background-color: var(--bgBox);
  transform: translateY(-10px);
}
.showNotes .contactMe li a i {
  font-size: 26px;
  font-weight: bold;
}

.showNotes p {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  color: #999;
  user-select: none;
  white-space: -1px;
}
/* end notes */

/* start error box */
.error-box1,
.error-box2 {
  position: fixed;
  left: -100%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  min-height: 20%;
  border-radius: 8px;
  text-align: center;
  background: linear-gradient(45deg, #8b0000, #ff0000, #ffa07a);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: all 0.5s ease;
  z-index: 99;
}
.error-box1.hidee,
.error-box2.hidee {
  left: 50%;
}
/* end error box */

/* start screen */
.startScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #123, rgb(0, 0, 0));

  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 122;
  opacity: 1;
}
.startScreen img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* end screen */
